@import url(banner.css);
@import url(header.css);
@import url(titulos.css);
@import url(tarjetas.css);
@import url(footer.css);
@import url(efectos.css);

$color-primario: var(--color-primario);
$color-fondo:var(--color-gris-claro);
$disp-flex:flex;


body{
    background-color: $color-fondo; 
    main{   
        padding: 0 10%;  
        display: $disp-flex;
        justify-content: space-between;
        section{
            .contenedor-cajas-noticias{
                display: $disp-flex;
                flex-wrap: wrap;
                justify-content: space-between;                    
            }
        }
        aside{
            padding: 1% 0;
        }
    }
}

