@import url(banner.css);
@import url(header.css);
@import url(titulos.css);
@import url(tarjetas.css);
@import url(footer.css);

$color-primario: var(--color-primario);
$color-fondo:var(--color-gris-claro);

@mixin bx-shadow {
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.2);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.2);    
}

body{
    background-color: $color-fondo; 
    main{   
        padding: 0 10%;  
        display: flex;
        justify-content: space-between;
        section{
            .contenedor-cajas-noticias{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;                   
            }
        }
        
        
        aside{
            padding: 1% 0;
        }
    }
}

