$color-primario: var(--color-primario);
$color-blanco: var(--color-blanco);
$color-secundario:var(--color-secundario);


.caja-noticia{
    width: 100%;
    background-color: $color-blanco;
    margin-bottom: 4%;
    a{
        text-decoration: none;
        color: $color-secundario;
        img{
            width: 100%;
        } 
        p{        
            padding: 7%;
        }
    }
}

.noticia-interior{
    margin: 2% 0; 
    background-color: $color-blanco;
        .banner-noticia-interior{                
            background: url(../img/noticia-09.png) no-repeat;
            background-size: cover;
            padding: 3%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;  
            position: relative; 
            .autor-noticia-interior{
                display: flex;
                align-items: center;                    
                img{
                    width: 5%;
                    border-radius: 50%;
                }
                p{
                    padding-left: 2%;
                    
                }
            }                 
        }
        .txt-noticia-interior{
            display: grid;
            grid-template-columns: 40% 1fr;
            .p-noticia-interior-1{
                grid-column-start: 1; 
                grid-column-end: 3; 

            }
            .p-noticia-interior-cita{
                font-size: 40px;

            }

        }
        /* .banner-noticia-interior::before{
            content: '';
            width: 100%;
            height: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0.02) 26%, rgba(0,0,0,1) 100%);
            position: absolute;  
            top: 0; 
            left: 0;       
        } */

    .txt-noticia-interior{
        padding: 2%;
        p{
            text-align: justify;
        }
    }
}

.noticia-interior{
    
    
}